.loginContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb, #f9d9e6);
}

.loginBox {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(67, 49, 49, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.loginButton {
  padding: 10px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100%; /* Đảm bảo button đầy đủ chiều rộng */
}

.loginButton:hover {
  background-color: #007bb5;
}

.forgotPassword {
  font-size: 12px;
  color: #0095f6;
  margin-top: 10px;
  cursor: pointer;
}

.signupText {
  font-size: 12px;
  color: #8e8e8e;
}

.signupLink {
  color: #0095f6;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}